# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
.git

# Thumbnails
._*


# mstest test results
TestResults
*.suo
*.user
StyleCop.Cache

#packages
src/packages/*
!src/packages/repositories.config

#obj
src/BankAccounts/obj/*
src/BankAccounts.Repository/obj/*
src/BankAccounts.Services/obj/*
src/BankAccountsAPI.Specs/obj/*
src/TiresiasAPI/obj/*

#bin
src/BankAccounts/bin/*
src/BankAccounts.Repository/bin/*
src/BankAccounts.Services/bin/*
src/BankAccountsAPI.Specs/bin/*
src/TiresiasAPI/bin/*

#logs
*.log

#merge
*.orig